bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.local.php
.env.php
.DS_Store
Thumbs.db
public/portrait/*
public/uploads/*
# Config
app/config/database.php
app/config/email.php
# OAuth API
app/api/qq/comm/inc.php
app/api/weibo/config.php
# Minify
public/css/builds/*
public/js/builds/*