a, .section-title h1 i, .pricing-box li h1, .slide-content h1 strong, .timeline-content #timeline .post-body .blog-title h1 a:hover, .service-items a:hover, .service-items a:hover h3, .form-group label.error, .blog-content a:hover, .panel-group .panel-heading a, .panel-group .panel-heading a:hover, .media .media-body .lead {
	color: #0098f9;
}/* COLOR STANDARD */

.section-title .lead strong, .progress .progress-bar, .nav-tabs > li > a, .parallax-box a:hover, .pager .puls > a:hover, .pricing-box .pricing-featured li.price-row, .pager .pagination li a:hover, .widget .widget-tag li a:hover, .hi-icon-effect-1 .hi-icon, .mybutton a span, .mybutton button span, .csstransforms3d .mybutton a:hover span::before, .csstransforms3d .mybutton button:hover span::before, .mybutton2 a span, .mybutton2 button span{
	background: #0098f9;
}/* BACKGROUND STANDARD COLOR */

.nav-tabs > li > a, .form-group .form-control.error, .form-group .form-control.error:focus {
	border-color: #0098f9;
}/* BORDER STANDARD COLOR */

.hi-icon-effect-1 .hi-icon:after {
	box-shadow: 0 0 0 4px #0098f9;
}/* BOX-SHADOW STANDARD COLOR */

.no-touch .hi-icon-effect-1 .hi-icon:hover {
	background: rgba(0,152,249,1);
}/* BACKGROUND STANDARD COLOR(RGBA) */

.parallax-box a:hover p, .parallax-background-color p {
	color: #96cef2;
}/* COLOR LIGHT */

.csstransforms3d .mybutton a span::before, .csstransforms3d .mybutton button span::before, .mybutton2 a::before {
	background: #006db2;
}/* BACKGROUND DARK COLOR */
.pricing-box .pricing-featured li.price-row span {
	color: #006db2;
}/* DARK COLOR */

.parallax-background-color {
	background: rgba(0,109,178,0.9);
}/* DARK BACKGROUND COLOR(RGBA) */